In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.\
builder.\
config('spark.shuffle.useOldFetchProtocol','true').\
config('spark.ui.port','0').\
config("spark.sql.warehouse.dir","/user/itv012713/warehouse").\
enableHiveSupport().\
master('yarn').\
getOrCreate()

## Checking for same member_id coming multiple times in different tables

In [3]:
spark.sql("select member_id, count(*) as total from itv012713_lending_club.customers group by member_id order by total desc")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|e4c167053d5418230...|    5|
|76b577467eda5bdbc...|    4|
|ad8e5d384dae17e06...|    4|
|3f87585a20f702838...|    4|
|498bb6b1f0099cb47...|    3|
|c92062bb371842b3d...|    3|
|d3731bad3e6a82515...|    3|
|059d401bb603d9a80...|    3|
|22593a1870543b2db...|    3|
|5d52e7773cb0efff3...|    3|
|c563428cb58da48ff...|    3|
|3ae415acd6bbfaac1...|    3|
|291ca1b09ef11ca3e...|    3|
|a2356725aa9da92c6...|    3|
|53789bea7edc660ed...|    3|
|066ddaa64bee66dff...|    3|
|4ab6205de571ccb7b...|    3|
|035bf3d8288d803bd...|    3|
|f54295a60946dedad...|    3|
|e7d8d16928817ec8f...|    3|
+--------------------+-----+
only showing top 20 rows

In [4]:
spark.sql("select * from itv012713_lending_club.customers where member_id like 'e4c167053d5418230%'")

+--------------------+---------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
|           member_id|emp_title|emp_length|home_ownership|annual_income|address_state|address_zipcode|address_country|grade|sub_grade|verification_status|total_high_credit_limit|application_type|join_annual_income|verification_status_joint|         ingest_date|
+--------------------+---------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               138780.0|      Individual|              null|                     null|2023-09-15 17:18:...|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               171165.0|      Individual|              null|                     null|2023-09-15 17:18:...|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               110907.0|      Individual|              null|                     null|2023-09-15 17:18:...|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               129833.0|      Individual|              null|                     null|2023-09-15 17:18:...|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               207300.0|      Individual|              null|                     null|2023-09-15 17:18:...|
+--------------------+---------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+

In [7]:
spark.sql("select member_id, count(*) as total from itv012713_lending_club.loan_defaultors_deling group by member_id order by total desc")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|e4c167053d5418230...|    3|
|55d55d97420671a1c...|    2|
|0b44a10bc749eabb2...|    2|
|c23eb88fed4893030...|    2|
|6c2b63ff231e520d4...|    2|
|62394e3f9d063413b...|    2|
|17d76ba5141e1c33a...|    2|
|db887c1d4cb004ca8...|    2|
|bbe43331566910d55...|    2|
|a93a44c9d83793451...|    2|
|58dde656f747cee8b...|    2|
|77db5fdf951dd04b2...|    2|
|4f7579700cd9d49d7...|    2|
|dbe5ec23d01598dbf...|    2|
|c16e1f92ae5ccc785...|    2|
|343344c3c65b023af...|    2|
|8d2c605c7ad9209cc...|    2|
|cbede54df344cdb94...|    2|
|6918b9861ba5a4c67...|    2|
|b5ded5638e54e1692...|    2|
+--------------------+-----+
only showing top 20 rows

In [8]:
spark.sql("select * from itv012713_lending_club.loan_defaultors_deling where member_id like 'e4c167053d5418230%'")

+--------------------+-----------+-----------+----------------------+
|           member_id|delinq_2yrs|delinq_amnt|mths_since_last_delinq|
+--------------------+-----------+-----------+----------------------+
|e4c167053d5418230...|          3|        0.0|                     0|
|e4c167053d5418230...|          1|        0.0|                     0|
|e4c167053d5418230...|          1|        0.0|                    45|
+--------------------+-----------+-----------+----------------------+

In [9]:
spark.sql("select member_id, count(*) as total from itv012713_lending_club.loan_defaultors_detail_rec_enq group by member_id order by total desc")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|e3b0c44298fc1c149...|   33|
|e4c167053d5418230...|    5|
|3f87585a20f702838...|    4|
|76b577467eda5bdbc...|    4|
|ad8e5d384dae17e06...|    4|
|f54295a60946dedad...|    3|
|066ddaa64bee66dff...|    3|
|035bf3d8288d803bd...|    3|
|22593a1870543b2db...|    3|
|819453be77718d747...|    3|
|4ab6205de571ccb7b...|    3|
|d3731bad3e6a82515...|    3|
|c92062bb371842b3d...|    3|
|e7d8d16928817ec8f...|    3|
|291ca1b09ef11ca3e...|    3|
|53789bea7edc660ed...|    3|
|498bb6b1f0099cb47...|    3|
|5d52e7773cb0efff3...|    3|
|c563428cb58da48ff...|    3|
|059d401bb603d9a80...|    3|
+--------------------+-----+
only showing top 20 rows

In [10]:
spark.sql("select * from itv012713_lending_club.loan_defaultors_detail_rec_enq where member_id like 'e3b0c44298fc1c149%'")

+--------------------+-------+--------------------+--------------+
|           member_id|pub_rec|pub_rec_bankruptcies|inq_last_6mths|
+--------------------+-------+--------------------+--------------+
|e3b0c44298fc1c149...|      0|                   0|             0|
|e3b0c44298fc1c149...|      0|                   0|             0|
|e3b0c44298fc1c149...|      0|                   0|             0|
|e3b0c44298fc1c149...|      0|                   0|             0|
|e3b0c44298fc1c149...|      0|                   0|             0|
|e3b0c44298fc1c149...|      0|                   0|             0|
|e3b0c44298fc1c149...|      0|                   0|             0|
|e3b0c44298fc1c149...|      0|                   0|             0|
|e3b0c44298fc1c149...|      0|                   0|             0|
|e3b0c44298fc1c149...|      0|                   0|             0|
|e3b0c44298fc1c149...|      0|                   0|             0|
|e3b0c44298fc1c149...|      0|                   0|             0|
|e3b0c44298fc1c149...|      0|                   0|             0|
|e3b0c44298fc1c149...|      0|                   0|             0|
|e3b0c44298fc1c149...|      0|                   0|             0|
|e3b0c44298fc1c149...|      0|                   0|             0|
|e3b0c44298fc1c149...|      0|                   0|             0|
|e3b0c44298fc1c149...|      0|                   0|             0|
|e3b0c44298fc1c149...|      0|                   0|             0|
|e3b0c44298fc1c149...|      0|                   0|             0|
+--------------------+-------+--------------------+--------------+
only showing top 20 rows

## Identifing and extracting the member_ids that appear multiple times in a table.

In [2]:
bad_data_customer_df = spark.sql("""
    select member_id from (select member_id, count(*) as total from itv012713_lending_club.customers group by member_id having total > 1) 
""")

In [3]:
bad_data_customer_df

+--------------------+
|           member_id|
+--------------------+
|4231a55d0199c619a...|
|f284044b881f218c0...|
|3b8ffe19f24749a73...|
|d4782ddad8591f44d...|
|a2af7506825a7dcff...|
|a53e2f488d2d76a30...|
|2bae2e4dd6d5f2b21...|
|cbede54df344cdb94...|
|61be6498c93cadf89...|
|f99c6e9cfe3a7a2d2...|
|761b2f1e61999e14e...|
|5130d0087970e032e...|
|675151e58a628e87b...|
|7115ace193e13d8f3...|
|cd1fdca829c443fa7...|
|fc0e468bff11ac7c3...|
|eebbd89aa7efc13e7...|
|01b2223757c3b62e7...|
|8d2c605c7ad9209cc...|
|22593a1870543b2db...|
+--------------------+
only showing top 20 rows

In [4]:
bad_data_loans_defaultors_deling_df = spark.sql("""
    select member_id from (select member_id, count(*) as total from itv012713_lending_club.loan_defaultors_deling group by member_id having total > 1) 
""")

In [5]:
bad_data_loans_defaultors_deling_df

+--------------------+
|           member_id|
+--------------------+
|cbede54df344cdb94...|
|8d2c605c7ad9209cc...|
|bbe43331566910d55...|
|6918b9861ba5a4c67...|
|b5ded5638e54e1692...|
|a93a44c9d83793451...|
|6c2b63ff231e520d4...|
|694c6cb86608015e9...|
|58dde656f747cee8b...|
|77db5fdf951dd04b2...|
|62394e3f9d063413b...|
|0b44a10bc749eabb2...|
|4f7579700cd9d49d7...|
|dbe5ec23d01598dbf...|
|17d76ba5141e1c33a...|
|343344c3c65b023af...|
|c16e1f92ae5ccc785...|
|db887c1d4cb004ca8...|
|c23eb88fed4893030...|
|ac9a3da3b89f9228e...|
+--------------------+
only showing top 20 rows

In [6]:
bad_data_loans_defaultors_detail_rec_enq_df = spark.sql("""
    select member_id from (select member_id, count(*) as total from itv012713_lending_club.loan_defaultors_detail_rec_enq group by member_id having total > 1) 
""")

In [7]:
bad_data_loans_defaultors_detail_rec_enq_df.count()

3189

## Storing the member_ids that appear multiple times back to HDFS for future use.

In [21]:
bad_data_customer_df.repartition(1).write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path", "/user/itv012713/lendingclubproject/bad_data/bad_data_customers_csv").save()

In [22]:
bad_data_loans_defaultors_deling_df.repartition(1).write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path", "/user/itv012713/lendingclubproject/bad_data/bad_data_loans_defaultors_deling_csv").save()

In [23]:
bad_data_loans_defaultors_detail_rec_enq_df.repartition(1).write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path", "/user/itv012713/lendingclubproject/bad_data/bad_data_loans_defaultors_detail_rec_enq_csv").save()

## Saving all the bad member_ids that appear multiple times into a single file, so the upstream team can validate the data.

In [8]:
bad_data_customer_df_union = bad_data_customer_df.select("member_id") \
.union(bad_data_loans_defaultors_deling_df.select("member_id")) \
.union(bad_data_loans_defaultors_detail_rec_enq_df.select("member_id")).distinct()

In [9]:
bad_data_customer_df_union.count()

3189

In [10]:
bad_data_customer_df_union.repartition(1).write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path", "/user/itv012713/lendingclubproject/bad_data/bad_customers_data_final_csv").save()